/* h1 {
  color: pink;
}
class="pink"なので
cssでは[.]ドットを先頭につける
.pink = class="pink" という意味
.pink {
color: pink;
}
.yellow {
color: yellow;
}
id="blue"の場合は
先頭に[#] ハッシュがつきます
#blue になります
#blue {
c + tabキー
color
bg + tabキー
background
color: blue;
} */

/* .box {
background: url("../img/1.jpg") no-repeat center center;
background-size: cover;

height: 300px;

border: 5px solid #000;
} */

body {
  color: black;
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro",
    "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  /* background: rgb(225, 228, 235); */
}

img {
  /* 画像がはみ出さないように */
  max-width: 100%;
  /* 幅にしたがって高さが変わるように */
  height: auto;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

header {
  background: #7dd1d4f5;
  background-size: cover;
  color: white;
}

.wrapper {
  max-width: 1140px;
  margin: auto;
}

.header-wrapper {
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}

.website-name {
  font-size: 36px;
  margin: 0;
}

.nav-list {
  font-size: 14px;
  display: flex;
}

.nav-item {
  margin-left: 24px;
}

.nav-item>a {
  color: white;
  text-decoration: none;
}

.section {
  margin: 0 0 100px;
  font-size: 14px;
}

.heading {
  background: #f6f5f0;
  margin: 0 0 50px;
  font-size: 32px;
  height: 60px;
  line-height: 60px;
  border-top: 2px solid #7dd1d4f5;
  border-bottom: 2px solid #7dd1d4f5;
}

.text-center {
  text-align: center;
}
.profile-wrapper {
  margin: auto;
  max-width: 560px;
}
.profile-icon {
  margin: auto;
  max-width: 40%;
  height: auto;
}
.icon-pic {
  border-radius: 50%;
  border: 2px solid grey;
}
.profile-content {
  /* 行間 */
  line-height: 2.5;
  /* 横並び */
  display: flex;
  /* 中央寄せ */
  align-items: center;
  /* 上下に配置 */
  flex-direction: column;
  font-size: 24px;
}

/* tokucho */
.characteristic-wrapper {
  max-width: 900px;
  margin: auto;
}
.characteristic-list {
  display: flex;
  justify-content: space-between;
}
.characteristic-item {
  /* width: 33.3333%; */
  margin: 5px;
}
.characteristic-imgs {
  object-fit: cover;
  height: 200px;
}
.characteristic-topic {
  text-decoration: underline;
  font-size: 24px;
}
.characteristic-description {
  font-size: 20px;
  line-height: 2;
}

.enthusiasm-content {
  font-size: 24px;
  max-width: 90%;
  margin: auto;
  /* 両端揃え */
  text-align: justify;
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-wrapper {
  max-width: 720px;
  margin: auto;
}

.contact-list {
  width: 100%;
  max-width: 240px;
  font-size: 18px;
}

.contact-input {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  /* 余白を100%埋める */
  flex: 1;
  width: 100%;
  max-width: 480px;
  background: #eaedf2;
  font-size: 18px;
}
.contact-item2 {
  display: flex;
  /* align-items: center; */
}

.contact-list2 {
  width: 100%;
  max-width: 240px;
  font-size: 18px;
}

.contact-text {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding-top: 22px;
  padding-left: 10px;
  padding-right: 10px;
  height: 240px;
  flex: 1;
  width: 100%;
  max-width: 480px;
  background: #eaedf2;
  font-size: 18px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;
  background: rgb(127, 128, 126);
}

.footer-link {
  font-size: 24px;
  color: white;
  text-decoration: none;
}